$bgColor: rgb(154, 78, 0);

@import "fonts";
@import "reset";
@import "stage";

@keyframes vegetableanimation {
  0%   { background-position: -442px 461px;}
  10%  { background-position: -317px 461px;}
  20%  { background-position: -504px 461px;}
  30%  { background-position: -380px 461px;}
  40%  { background-position: -317px 461px;}
  50%  { background-position: -504px 461px;}
  60%  { background-position: -442px 461px;}
  70%  { background-position: -317px 461px;}
  80%  { background-position: -504px 461px;}
  90%  { background-position: -380px 461px;}
  100% { background-position: -442px 461px;}
}
@keyframes staranimation {
  0%   { background-position: -317px 461px;}
  10%  { background-position: -442px 461px;}
  20%  { background-position: -504px 461px;}
  30%  { background-position: -380px 461px;}
  40%  { background-position: -317px 461px;}
  50%  { background-position: -504px 461px;}
  60%  { background-position: -442px 461px;}
  70%  { background-position: -380px 461px;}
  80%  { background-position: -504px 461px;}
  90%  { background-position: -442px 461px;}
  100% { background-position: -317px 461px;}
}
@keyframes cherryanimation {
  0%   { background-position: -442px 461px;}
  10%  { background-position: -317px 461px;}
  20%  { background-position: -504px 461px;}
  30%  { background-position: -380px 461px;}
  40%  { background-position: -317px 461px;}
  50%  { background-position: -504px 461px;}
  60%  { background-position: -442px 461px;}
  70%  { background-position: -317px 461px;}
  80%  { background-position: -380px 461px;}
  90%  { background-position: -442px 461px;}
  100% { background-position: -504px 461px;}
}
@keyframes enemyanimation {
  0%   { background-position: -380px 461px;}
  10%  { background-position: -317px 461px;}
  20%  { background-position: -504px 461px;}
  30%  { background-position: -380px 461px;}
  40%  { background-position: -317px 461px;}
  50%  { background-position: -504px 461px;}
  60%  { background-position: -442px 461px;}
  70%  { background-position: -317px 461px;}
  80%  { background-position: -380px 461px;}
  90%  { background-position: -442px 461px;}
  100% { background-position: -380px 461px;}
}

.animation1{
	-webkit-animation: vegetableanimation 2s 2;
	-moz-animation:    vegetableanimation 2s 2;
	-o-animation:      vegetableanimation 2s 2;
	animation:         vegetableanimation 2s 2;

}

.animation2{
	-webkit-animation: staranimation 2s 3;
	-moz-animation:    staranimation 2s 3;
	-o-animation:      staranimation 2s 3;
	animation:         staranimation 2s 3; 

}

.animation3{
	webkit-animation: cherryanimation 2s 4;
	-moz-animation:   cherryanimation 2s 4;
	-o-animation:     cherryanimation 2s 4;
	animation:        cherryanimation 2s 4;

}

.animation4{
	webkit-animation: enemyanimation 2s 5;
	-moz-animation:   enemyanimation 2s 5;
	-o-animation:     enemyanimation 2s 5;
	animation:        enemyanimation 2s 5;


}
	
.txt {
	font-family: 'SuperMarioBros', sans-serif;
}

body {
    background: $bgColor;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}


.slots{
	height:44px;
	width:172px;
	margin-top: 180px;
	margin-left: 165px;
	position: absolute;
}

.slot{
	width:56px;
	height:56px;
	position:absolute;
	background-image: url('../images/smb2_various_sheet.png');
	background-size: 940px;
}

.slot-vegetable{
	background-position: -442px 461px;
	
}

.slot-star{
	background-position: -317px 461px;

}

.slot-cherry{
	background-position: -504px 461px;

}

.slot-enemy{
	background-position: -380px 461px;;

}

#slot1{
	margin-left: 0px;
	
}

#slot2{
	margin-left: 64px;
	
}

#slot3{
	margin-left: 128px;

}

#coins{
	background: black;
	width: 20px;
	height: 20px;
	top: 266px;
	left: 286px;
	position: absolute;
	font-size: 22px;
	color: white;

}

#lifes{
	background: black;
	top: 345px;
	left: 360px;
	position: absolute;
	font-size: 21px;
	color: white;
}
